* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero__section {
    height: 100vh;
    background-image: url('./img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.604);

}

.input {
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    border: none;
    border-radius: 4px;
    font-size: 10px;
}

.input:focus {
    outline: none;
}

.hero__content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;

}

.hero__content h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1rem;


}

.hero__content h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.hero__content p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 1.5rem 0;
}

.input {

    width: 454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    box-shadow: 0 5px 3px rgb(0, 0, 45);
}

.btn:hover {
    opacity: 0.9;
}

.style {
    width: 500px;
    height: 500px;

}

.btn-lg {
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    height: 36px;
    width: 14rem;
}

.line {
    height: 8px;
    background-color: rgb(34, 34, 34);
    width: 100%;
}

.tv__section {
    height: 450px;
    width: 100vw;
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: center;
}

.tv__content {
    display: flex;
    flex: 1;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.tv__img {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.video {
    position: absolute;
    top: 99px;
    z-index: 1;
    width: 308px;
}

.tv__img img {
    width: 80%;
}

.tv__content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.tv__content p {
    font-size: 24px;
}

.download__section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.download__img {
    width: 50%;
}

.download__img img {
    width: 80%;

}

.download__content {
    width: 50%;
    color: #fff;
}

.download__content h1 {
    font-size: 50px;
    font-weight: 600;
}

.download__content p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 1rem;
}

.watch__parent {
    height: 20vh;
    color: white;
    margin: 4rem 6rem;
}

.watch__parent h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.watch__parent p {
    font-size: 24px;
    font-weight: 400;
}

.kids__parent {
    height: 75vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.kids__img {
    width: 50%;
}

.kids__parent img {
    width: 90%;
    margin-top: 5rem;
}

.kids__content {
    width: 50%;
}

.kids__content h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.kids__content p {
    font-size: 24px;
    font-weight: 400;
}

.faq__parent {
    margin-top: 3rem;
}


.faq {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.faq h1 {
    padding-bottom: 48px;
    font-size: 50px;
    font-weight: 600;
}

.questions {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;

}

.questions li {
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: rgb(30, 30, 30);
    text-align: left;
    width: 50%;
    list-style: none;

}

.faq p {
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}

.footer__parent {
    max-width: 70%;
    margin: 1rem auto;
}

.footer__parent p {
    color: white;
    margin-bottom: 1.5rem;
}

.footer__cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer__parent li {
    line-height: 2;
}